<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi primer documento en HTML</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>


<!-- De aca para abajo empieza el HEADER -->


<body>
  <header>
    <div class="top-header">
      <img width="360" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" />
      <div class="campo-busqueda-y-boton-busqueda">
        <input type="text" placeholder="Buscar productos,marcas" />
        <br>
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div id="mano-top-header">
      <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>
    <nav>
      <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
        <br />
        <li><a href="">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
        <li><a href="">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
    <div class="buttonContain">
      <button class="barsMenu">
        <i class="fas fa-bars"></i>
      </button>
    </div>

  </header>
  
  <!-- Aca esta el banner del medio -->
  <section class="banner-del-header">
    <img width="360" src="/images/img-home-banner.jpg" alt="" />
  </section>
  
  <!-- Aca comienza el MAIN -->
  <main>
    <section>
      <h3>Basado en tu ultima visita</h3>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <i class="fas fa-truck"></i>
        <p class="precios">$1.770</p>
        <p class="descuento">40% off</p>
        <h4 class="descripcion">Cafetera Moulinex</h4>

      </div>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro" />
        <i class="fas fa-truck"></i>
        <p class="precios">$230.000</p>
        <p class="descuento">20% of</p>
        <h4 class="descripcion">MacBook Pro 2019</h4>
      </div>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <i class="fas fa-truck"></i>
        <p class="precios">$70.500</p>
        <p class="descuento">10% off</p>
        <h4 class="descripcion">Samsung Galaxy S10</h4>
      </div>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv" />
        <i class="fas fa-truck"></i>
        <p class="precios">$23.200</p>
        <p class="descuento">5% off</p>
        <h4 class="descripcion">SmartTv Samsung 43"</h4>
      </div>
    </section>
    <section class="contenedor-seccion-ofertas">
      <h3>Seccion de Ofertas</h3>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <i class="fas fa-truck"></i>
        <p class="precios">$1.770</p>
        <p class="descuento">40% off</p>
        <h4 class="descripcion">Cafetera Moulinex</h4>
      </div>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro" />
        <i class="fas fa-truck"></i>
        <p class="precios">$230.000</p>
        <p class="descuento">20% of</p>
        <h4 class="descripcion">MacBook Pro 2019</h4>
      </div>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <i class="fas fa-truck"></i>
        <p class="precios">$70.500</p>
        <p class="descuento">10% off</p>
        <h4 class="descripcion">Samsung Galaxy S10</h4>
      </div>
      <div class="contenedor-de-imagen-y-descripcion-producto">
        <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTv" />
        <i class="fas fa-truck"></i>
        <p class="precios">$23.200</p>
        <p class="descuento">5% off</p>
        <h4 class="descripcion">SmartTv Samsung 43"</h4>
      </div>
    </section>
  </main>
  
  <!-- Aca comienza el FOOTER -->
  <footer>
    <div class="iconos-footer"><i class="fas fa-credit-card"></i></div>
    <div class="titulos-footer">
      <h3>Pagá con tarjeta o en efectivo</h3>
    </div>
    <div class="descripciones-footer">
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="iconos-footer"><i class="fas fa-gift"></i></div>
    <div class="titulos-footer">
      <h3>Envío gratis desde $ 2.500</h3>
    </div>
    <div class="descripciones-footer">
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </div>
    <div class="iconos-footer"><i class="fas fa-user-shield"></i></div>
    <div class="titulos-footer">
      <h3>Seguridad, de principio a fin</h3>
    </div>
    <div class="descripciones-footer">
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </div>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
  </footer>
</body>

</html>